@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background-image: linear-gradient(to right, #d4e6f6c9, #faf6f6d1);
    background-size: 200% auto;
    animation: gradientAnimation 10s ease infinite;
}



.custom-header {
    background-color: #faf6f66e !important; /* Cream background color */
}
.digital-clock {
    border: 2px solid #ccc; /* Border around the clock */
    padding: 20px;
    width: 200px;
    margin: 20px auto; /* Center the clock */
    text-align: center;
    font-size: 36px; /* Adjust font size */
    font-family: monospace; /* Use monospace font for digital appearance */
    border-radius: 10px; /* Rounded corners */
    background-color: #f9f9f9; /* Background color */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add shadow */
  }

  .custom-button {
    background-color: #ff94a9c9 !important; /* Custom background color */
    color: #424242; /* Text color */
    border-color: #ff94a9c9; /* Border color */
}

.custom-button:hover {
    background-color: #ff94a9 !important; /* Change background color on hover */
    border-color: #fafbfc !important; /* Change border color on hover */
}

.other-button {
    background-color: #ff94a9c9 !important; /* Custom background color */
    color: #424242; /* Text color */
    border-color: #ff94a9c9; /* Border color */
}

.other-button:hover {
    background-color: #ff94a9 !important; /* Change background color on hover */
    border-color: #fafbfc !important; /* Change border color on hover */
}
.chat-button {
    background-color: #58afb2 !important; /* Custom background color */
    color: #424242; /* Text color */
    border-color: #58afb2; /* Border color */
}

.chat-button:hover {
    background-color: #58afb2a5!important; /* Change background color on hover */
    border-color: #fafbfc !important; /* Change border color on hover */
}

.custom-container .countdown {
    background-color: #faf6f6d1 !important; /* Brown background color */
    color: #424242; /* Text color */
    border-color: #42424264; /* Border color */
}


.custom-footer {
    background-color: #faf6f66e !important; /* Cream background color */
    height: 10vh
    
}

.digital-clock {
    border: 2px solid #ccc; /* Border around the clock */
    padding: 20px;
    width: 300px; /* Increase width */
    margin: 20px auto; /* Center the clock */
    text-align: center;
    font-size: 48px; /* Increase font size */
    font-family: monospace; /* Use monospace font for digital appearance */
    border-radius: 10px; /* Rounded corners */
    background-color: #f9f9f9; /* Background color */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add shadow */
    float: right; /* Float the clock to the right */
    margin-right: 20px; /* Add right margin */
    margin-top: 20px; /* Add top margin */
}


.websocket-container {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 20px; /* Add right margin */
    margin-top: 20px;
    margin-left: 20px;
}

.websocket-placeholder {
    
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    background-color: #f9f9f97c;
    margin-bottom: 20px;
}



.youtube-container {
    
    margin: 20px; /* Add some margin for spacing */
    z-index: 1000; /* Ensure it's above other elements */
    margin-left: 30px;
    width: 50%;
   
}
.parent-container {
    display: inline-block; /* Display as inline block */
    width: auto; /* Automatically adjust width based on content */
    margin-right: 20px;
    margin-left: 800px;
    margin-bottom: 200px;
}

.todo-container {
    width: 100%; /* Adjust the width of todo-container as needed */
    height: 200px;
    margin-top: 20px;
    border: 2px solid #777575;
    padding: 20px;
    text-align: left;
    border-radius: 2px;
    background-color: #b5b2b272;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}




.cat {
    display: flex !important;
    flex-direction: column !important;
    justify-content: left !important; /* Vertically center */
    align-items: left !important; /* Horizontally center */
    margin-top: 20px !important; /* Adjust margin top as needed */
    margin-right: 400px;
    width: 5%;
}
