@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background-image: linear-gradient(to right, #dbf4ffc9, #faf6f6d1);
    background-size: 200% auto;
    animation: gradientAnimation 10s ease infinite;
}
body {
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    animation: none; /*able any existing animation */
}

.gif{
    background-color: #f4f4f40d !important; /* Custom background color */
    color: #fffefe !important; /* Text color */
    border-color: #ff94a900 !important; /* Border color */
    margin-top: 10px;
    margin-left: 20px;
    
    
    
}

#gifButton:hover{
    background-color: #e9e9e99a !important; /* Change background color on hover */
    border-color: #ff94a900 !important; 
}
.custom-header {
    background-color: #ffffff00 !important; /* Cream background color */
    
    
}
.custom-header .navbar-item {
    color: #ffffffd0 !important; /* White text color */
    font-size: 20px;
}
.custom-header .navbar-item:hover {
    color: rgb(255, 255, 255) !important; /* Red text color on hover */
background-color: rgba(255, 255, 255, 0.429)  !important; /* White background color on hover */
}


.digital-clock {
    padding: 20px;
    width: 400px;  /* Increase width */
    margin: 20px auto; /* Center the clock horizontally */
    text-align: center;
    font-size: 55px; /* Increase font size */
    font-family: 'Roboto', sans-serif; /* Use Roboto font for digital appearance */
    font-weight: bold;
    border-radius: 10px; /* Rounded corners */
    background-color: #761b1b !important; /* Background color */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add shadow */
    /* Remove float and margin-right */
    margin-top: 20px; /* Add top margin */
}


.custom-button {
    display: inline-block  !important; 
    background-color: #ff94a9c9 !important; /* Custom background color */
    color: #424242; /* Text color */
    border-color: #ff94a9c9; /* Border color */
}

.custom-button:hover {
    background-color: #ff94a9  !important; /* Change background color on hover */
    border-color: #fafbfc !important; /* Change border color on hover */
}

.other-button {
    display: inline-block  !important; 
    background-color: #ff94a9c9 !important; /* Custom background color */
    color: #424242; /* Text color */
    border-color: #ff94a9c9; /* Border color */
}

.other-button:hover {
    background-color: #ff94a9 !important; /* Change background color on hover */
    border-color: #fafbfc !important; /* Change border color on hover */
}

.button-container {
    padding: 10px;
    width: 400px;  /* Increase width */
    margin: 20px auto; /* Center the button-container horizontally */
    text-align: center;
    font-size: 16px; /* Adjust font size as needed */
    font-family: monospace; /* Use monospace font */
    border-radius: 10px; /* Rounded corners */
    background-color: #faf6f600; /* Background color */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add shadow */
    /* Remove float and margin-right */
    margin-top: 0px; /* Add top margin */
    margin-bottom: 30px;
}


.button-container .button {
    display: inline-block;
    background-color: #ff94a9 !important;
    color: #ffffff;
    border-color: #ff94a9c9;
    margin: 0 5px;
}

.button-container .button:hover {
    background-color: #e78397 !important;
    border-color: #e78397 !important;
}




.chat-button {
    background-color: #58afb2 !important; /* Custom background color */
    color: #424242; /* Text color */
    border-color: #58afb2; /* Border color */
}

.chat-button:hover {
    background-color: #58afb2a5!important; /* Change background color on hover */
    border-color: #fafbfc !important; /* Change border color on hover */
}

.custom-container .countdown {
    background-color: #faf6f663 !important; /* Brown background color */
    color: #f0f0f0; /* Text color */
    border-color: #42424264; /* Border color */
    font-size: 70px;
    font-weight: bold;
}

.custom-footer {
    background-color: #faf6f600 !important; /* Cream background color */
    height: 50px !important;
    color: #ffffffd0 !important; /* White text color */
    font-size: 20px;
}


.websocket-container {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 20px; /* Add right margin */
    margin-top: -250px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
}

.websocket-placeholder {
    display: inline-block; /* Display as inline block */
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add shadow */
    border-radius: 5px;
    background-color: #faf6f621;
    color: white;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.parent-container {
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Arrange items vertically */
    justify-content: flex-end; /* Align items to the bottom of the container */
    align-items: flex-end; /* Align items to the right side */
    width: 350px;
    margin-right: 10px;
    float: right;
    margin-top: -450px;
    font-family: 'Roboto', sans-serif;
    
}

.todo-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    font-size: 18px;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    background-color: #ffc3d08a;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-right: 20px; /* Add margin to separate from right edge */
    margin-right: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.youtube-container {
    margin: 20px auto; /* Add some margin for spacing */
    width: 50%;
    margin-bottom: 50px !important;
    width: 500px;
    margin-top: 20px; /* Adjust margin-top as needed */
}


.add-button {
    background-color: #ff94a9e0 !important; /* Custom background color */
    color: #fbfbfb !important; /* Text color */
    border-color: #ff94a9c9 !important; /* Border color */
    font-family: 'Roboto', sans-serif;
}

.add-button:hover {
    background-color: #fb859dcd !important; /* Change background color on hover */
    border-color: #ff94a9cd !important; /* Change border color on hover */
}

.cat {
    /* Your existing styles */
    justify-content: right !important; /* Vertically center */
    align-items: right !important; /* Horizontally center */
    margin-top: 200px !important; /* Adjust margin top as needed */
    margin-right: 400px; /* This margin might not be necessary */
    margin-left: 45px; /* This margin might not be necessary */
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.cat-container {
    display: inline-block; /* Display as inline block */
    margin-top: -900px; /* Adjust margin top as needed */
    margin-right: 20px;
    margin-bottom: 50px;
    color: white;
    font-size: 10px;
}

.cat img {
    cursor: pointer; /* Change cursor to pointer when hovering over the cat image */
    width: 170px;
}



.motivation {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    background-color: #f9f9f97c;
    margin-bottom: 20px;
    width: 50%;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.clear-button {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.358);
    color: white;
    border: white;
}
.clear-button:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.625);
}

.github{
    background-color: rgba(255, 255, 255, 0.563);
    
    
}
/* Media queries for smaller screens */
/* CSS for smaller screens (max-width: 767px) */
@media screen and (max-width: 767px) {
    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    body {
        background-image: linear-gradient(to right, #dbf4ffc9, #faf6f6d1);
        background-size: 200% auto;
        animation: gradientAnimation 10s ease infinite;
        padding-top: 20px; /* Add padding to prevent content from being cut off */
    }
    
    .custom-header {
        background-color: #faf6f66e !important; /* Cream background color */
    }
    
    .digital-clock {
        
        padding: 20px;
        width: 400px;  /*Increase width */
        margin: 20px auto; /* Center the clock */
        text-align: center;
        font-size: 48px; /* Increase font size */
        font-family: monospace; /* Use monospace font for digital appearance */
        border-radius: 10px; /* Rounded corners */
        background-color: #faf6f6ae; /* Background color */
        box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add shadow */
    }
    
    .custom-button {
        background-color: #ff94a9c9 !important; /* Custom background color */
        color: #424242; /* Text color */
        border-color: #ff94a9c9; /* Border color */
    }
    
    .custom-button:hover {
        background-color: #983246 !important; /* Change background color on hover */
        border-color: #fafbfc !important; /* Change border color on hover */
    }
    
    .other-button {
        background-color: #ff94a9c9 !important; /* Custom background color */
        color: #424242; /* Text color */
        border-color: #ff94a9c9; /* Border color */
    }
    
    .other-button:hover {
        background-color: #ff94a9 !important; /* Change background color on hover */
        border-color: #fafbfc !important; /* Change border color on hover */
    }
    
    .chat-button {
        background-color: #58afb2 !important; /* Custom background color */
        color: #424242; /* Text color */
        border-color: #58afb2; /* Border color */
    }
    
    .chat-button:hover {
        background-color: #58afb2a5!important; /* Change background color on hover */
        border-color: #fafbfc !important; /* Change border color on hover */
    }
    
    .custom-container .countdown {
        background-color: #faf6f6d1 !important; /* Brown background color */
        color: #424242; /* Text color */
        border-color: #42424264; /* Border color */
    }
    
    .custom-footer {
        background-color: #faf6f66e !important; /* Cream background color */
    height: 10vh; /* Set a fixed height */
    margin-top: auto; /* Push the footer to the bottom */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Cen
    }
    
    .websocket-container {
        display: flex;
        flex-direction: column;
        margin: 20px auto; /* Center horizontally */
        max-width: 800px; /* Limit width for smaller screens */
    }
    
    .websocket-placeholder {
        padding: 10px;
        text-align: left;
        font-size: 16px;
        font-family: Arial, sans-serif;
        border-radius: 5px;
        background-color: #f9f9f97c;
        margin-bottom: 20px;
    }
    
    .youtube-container {
        margin: 20px auto; /* Center horizontally */
        max-width: 400px; /* Limit width for smaller screens */
        
    }
    
    .todo-container {
       width: 100%; /* Full width */
    margin: 20px auto; /* Center horizontally */
    margin-top: 20px; /* Adjust the margin to create space between the to-do list and the footer */
    margin-bottom: 100px; /* Add margin-bottom to prevent the footer from overlapping */
    
    }
    
    .add-button {
        background-color: #ff94a9a5 !important; /* Custom background color */
        color: #424242 !important; /* Text color */
        border-color: #ff94a9c9 !important; /* Border color */
    }
    
    .add-button:hover {
        background-color: #ff94a9cd !important; /* Change background color on hover */
        border-color: #fafbfc !important; /* Change border color on hover */
    }
    
    .cat-container {
        margin: 20px auto; /* Center horizontally */
        max-width: 800px; /* Limit width for smaller screens */
        margin-top: 50px;
        margin-bottom: 200px;
       
    }
    
    



}
