.custom-button {
    background-color: #6697be; /* Custom background color */
    color: #ffffff; /* Text color */
    border-color: #6697be; /* Border color */
}

.custom-button:hover {
    background-color: #266089; /* Change background color on hover */
    border-color: #5a6268; /* Change border color on hover */
}
