.custom-button {
    background-color: #ff94a9c9 !important; /* Custom background color */
    color: #424242; /* Text color */
    border-color: #ff94a9c9; /* Border color */
}

.custom-button:hover {
    background-color: #ff94a9 !important; /* Change background color on hover */
    border-color: #fafbfc !important; /* Change border color on hover */
}

/* Custom styles */
.custom-box {
    background-color: #ff9ff3 !important; /* Custom pink background color */
    border-color: #ff9ff3; /* Border color (same as background to hide the border) */
}


/* Custom styles for the navbar logo */
#navbar-logo {
    max-width: none; /* Remove the maximum width constraint */
    height: auto; /* Ensure the height adjusts according to the width */
}
.custom-header .navbar-item {
    color: #494949d0 !important; /* White text color */
    font-size: 20px;
}
.custom-header .navbar-item:hover {
    color: #494949d0 !important; /* Red text color on hover */
background-color: rgba(255, 255, 255, 0.752)  !important; /* White background color on hover */
}
.custom-header .navbar-burger {
    color: #606060d0 !important; /* White color for burger lines */
}

.custom-header .navbar-burger:hover {
    color: #5c5c5c !important; /* White color for burger lines on hover */
}



.custom-header .navbar-menu {
    background-color: #ffffff00 !important; /* Pink background color for the dropdown */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background-image: linear-gradient(to right, #ffc4d0, #faf6f6d1);
    background-size: 200% auto;
    animation: gradientAnimation 20s ease infinite;
}


/* Custom styles for the login box */
.login-container {
    background-color: #faf6f6ae !important; /* Brown background color faf6f6d1 */
    color: white; /* Text color */
    border-color: #8b4513; /* Border color */
    font-family: 'Roboto', sans-serif;
}



.login-form .field .control {
    text-align: left !important;
}


/* Custom styles for the header */
.custom-header {
    background-color: #faf6f66e !important; /* Cream background color */
}

/* Custom styles for the footer */
.custom-footer {
    background-color: #faf6f632 !important; /* Cream background color */
    height: 50px !important;
    color: #ffffffd0 !important; /* White text color */
    font-size: 20px;
}
.github{
    background-color: rgba(255, 255, 255, 0.563);
    
    
}

